#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

$default-height: 6;
$max-height: 6;
$sum-height: $default-height + $max-height;

@mixin transition {
  @for $i from 1 through 9 {
    &:nth-child(#{$i}) {
      /* It defaults to 6px, so the Y position value has to be adjusted as well  */
      height: #{$sum-height - $i}px !important;
      translate: 0 -#{(($sum-height - $i) - $default-height) * .5}px;
      opacity: #{1 - $i * .1};
    }
  }
}

.react-pattern-lock__connector-wrapper .react-pattern-lock__connector {
  @include transition;
}